# {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 249, 249);
}

#line-Y {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  background-color: rgb(17, 17, 17);
}

#line-X {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: rgb(10, 10, 10);
}

#cursor {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tag {
  position: absolute;
  color: rgb(8, 8, 8);
  top: 50%;
  left: 50%;
  transform: translate(10%, 10%);
}
